#Title 
{
	padding-top: 120px;
}
#TopPaddingImage
{
	padding-top: 23px;
	padding-left: 90px;
}
#TopPaddingText
{
	padding-top: 100px;
	padding-left: 90px;
	padding-right: 500px;
}
#P_PaddingLeft
{
	padding-left: 71px;
	padding-right: 510px;
	padding-top: 15px;
}
#Img_PaddingLeft
{
	padding-left: 90px;
	padding-bottom: 15px;
}
#P_PaddingRight
{
    padding-left: 487px;
	padding-right: 50px;
	padding-top: 15px;
}
#Img_PaddingRight
{
    padding-right: 100px;
    padding-top: 15px;
}
h1
{
	padding-bottom: 150px;
    color: #ffffff;
    text-align: center;
    font-size: 70px;
    padding-top: 200px;

}

/* Start of Footer */
footer{
    color: #fff;
    background-color: #2c3e50;
    background-color: #282928;
	padding: 60px 40px;
}
footer a {
	color: #ffffff;
}
footer ul {
    text-decoration: none;
    list-style-type: none;
}
footer a:link {
    text-decoration: none;
}

footer a:visited {
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
    color: aquamarine;
}
footer a:active {
    text-decoration: none;
}

/* End of Footer */

.bgimg {
    color: rgb(255, 255, 255);
    position: relative;
    min-height: 500px;
    background: url("../Images/Medals.jpg	") no-repeat scroll 0px 100% / cover transparent;
}