#Title 
{
	padding-top: 120px;
}
#TopPaddingImage
{
	padding-top: 23px;
	padding-left: 90px;
}
#TopPaddingText
{
	padding-top: 100px;
	padding-left: 90px;
	padding-right: 500px;
}
#P_PaddingLeft
{
	padding-left: 71px;
	padding-right: 510px;
	padding-top: 15px;
}
#Img_PaddingLeft
{
	padding-left: 90px;
	padding-bottom: 15px;
}
#P_PaddingRight
{
    padding-left: 487px;
	padding-right: 50px;
	padding-top: 15px;
}
#Img_PaddingRight
{
    padding-right: 100px;
    padding-top: 15px;
}
h1
{
	text-decoration: underline;
}
