img#banner {
	width:100%;
}

#relative{
	padding: 0;
}

.absolute-text{
	position:absolute; 
	bottom:0; 
	font-size:24px; 
	font-family:"calibri"; 
	background:rgba(5,5,5,0.25);
	padding:10px 10px; 
	width:100%; 
	text-align:center;
	color: #fff;
}

.absolute-text a{
	font-size:16px; 
	color:#b92b27;
}