html {
    height: 100%;

}
head{
    
}
body{
    margin: 0; 
}

/* Start Google Maps */
#map {
    width: 100%;
    height: 565px;    
}
/* End Google Maps */

/* Start of Footer */
footer{
    color: #fff;
    background-color: #282928;
	padding: 60px 40px;
}
footer a {
    color: #ffffff;
}
footer ul {
    text-decoration: none;
    list-style-type: none;
}
footer a:link {
    text-decoration: none;
}

footer a:visited {
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
    color: aquamarine;
}

footer a:active {
    text-decoration: none;
}

/* End of Footer */